name: ci-actions
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:
jobs:
  test:
    runs-on: ubuntu-latest
    environment: 'ci'
    strategy:
      matrix:
        node-version: [16, 18, 20, 22]
    env:
      ALI_SDK_ONS_ID: ${{ secrets.ALI_SDK_ONS_ID }}
      ALI_SDK_ONS_SECRET: ${{ secrets.ALI_SDK_ONS_SECRET }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run ci
      - run: npm install -g codecov && codecov
    
