name: ci-actions
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  merge_group:
jobs:
  test:
    runs-on: ubuntu-latest
    services:
      rocketmq-namesrv:
        image: apache/rocketmq:4.9.4
        ports:
          - 9876:9876
        options: >-
          --name rocketmq-namesrv
          --detach

      rocketmq-broker:
        image: apache/rocketmq:4.9.4
        ports:
          - 10911:10911
        options: >-
          --name rocketmq-broker
          --detach
          --link rocketmq-namesrv:namesrv
          --env "NAMESRV_ADDR=localhost:9876"

    environment: 'ci'
    strategy:
      matrix:
        node-version: [16, 18, 20, 22]
    env:
      ALI_SDK_ONS_ID: ${{ secrets.ALI_SDK_ONS_ID }}
      ALI_SDK_ONS_SECRET: ${{ secrets.ALI_SDK_ONS_SECRET }}
    steps:
      - uses: actions/checkout@v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm run ci
      - run: npm install -g codecov && codecov

